* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 241, 241);
    font-family: 'pokemon-font', monospace;
}

h1 {
    text-align: center;
}

.outline {
    color: #fff200;
    font-size: 32px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 1px #1a1aff, -2px 2px 1px #1a1aff, 2px -2px 1px #1a1aff, -2px -2px 1px #1a1aff, 2px 0px 1px #1a1aff, 0px 2px 1px #1a1aff, -2px 0px 1px #1a1aff, 0px -2px 1px #1a1aff;
}

img {
    width: 60px;
}

a {
    text-decoration: none;
}

/*--- table ---*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

thead {
    border: 1px solid white;
    background-color: wheat!important;
    vertical-align: inherit;
    cursor: pointer;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border: 1px solid white;
}

th, td {
    display: table-cell;
    text-align: center;
}

/* 
.grass {
    background-color: #0EAE09;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;

}

.fire {
    background-color: rgb(247, 77, 77);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.water {
    background-color: rgb(168, 208, 241);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.bug {
    background-color: rgb(121, 250, 121);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.normal {
    background-color: rgb(240, 223, 223);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.poison {
    background-color: rgb(173, 65, 146);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.electric {
    background-color: rgb(236, 238, 93);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.ground {
    background-color: rgb(177, 159, 120);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.fairy {
    background-color: rgb(245, 168, 213);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.psychic {
    background-color: rgb(201, 204, 40);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.fighting {
    background-color: rgb(165, 170, 241);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.rock {
    background-color: rgb(126, 122, 124);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.ghost {
    background-color: rgb(92, 63, 78);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.dragon {
    background-color: rgb(24, 161, 24);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}

.ice {
    background-color: rgb(124, 225, 250);
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
} */