* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 241, 241);
    font-family: 'pokemon-font', monospace;
}

h1 {
    text-align: center;
}

.outline {
    color: #fff200;
    font-size: 32px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 1px #1a1aff, -2px 2px 1px #1a1aff, 2px -2px 1px #1a1aff, -2px -2px 1px #1a1aff, 2px 0px 1px #1a1aff, 0px 2px 1px #1a1aff, -2px 0px 1px #1a1aff, 0px -2px 1px #1a1aff;
}

img {
    width: 60px;
}

a {
    text-decoration: none;
}

.buttons{
    margin: 0 auto;
    background-color: red;
    text-align: center;
    margin: 20px;
}

.buttons button{
    cursor: pointer;
}

/*--- table ---*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

thead {
    border: 1px solid white;
    background-color: wheat!important;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border: 1px solid white;
}

th, td {
    display: table-cell;
    text-align: center;
}